    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
    :root {
        --color1: #007bff;
        --inputcolor1: #eee;

        --indigo: #6610f2;
        --purple: #6f42c1;
        --pink: #e83e8c;
        --red: #dc3545;
        --orange: #fd7e14;
        --yellow: #ffc107;
        --green: #28a745;
        --teal: #20c997;
        --cyan: #17a2b8;
        --white: #fff;
        --gray: #6c757d;
        --gray-dark: #343a40;
        --primary: #007bff;
        --secondary: #6c757d;
        --success: #28a745;
        --info: #17a2b8;
        --warning: #ffc107;
        --danger: #dc3545;
        --color2: #f8f9fa;
        --dark: #343a40;
        --breakpoint-xs: 0;
        --breakpoint-sm: 576px;
        --breakpoint-md: 768px;
        --breakpoint-lg: 992px;
        --breakpoint-xl: 1200px;
        --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    }
    .body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }

    .body {
        /* background-color: aliceblue; */
        background: linear-gradient(to right, #e2e2e2, aliceblue);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
    }

    #h1t{
        font-size: 1.5rem;
    }


    /* first-aside */
.containerReg form {
        background-color: var(--color2);
        /* background-color: red; */

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        height: 100%;
    }
.containerReg span {
        /* background-color: red; */
        font-size: 12px;
    }
    .containerReg a {
        /* background-color: red; */
        color: #333;
        font-size: 13px;
        text-decoration: none;
        margin: 15px 0 10px;
    }
    .containerReg .Reg {
        /* background-color: red; */
        background-color: var(--color1);
        color: #fff;
        font-size: 12px;
        padding: 10px 45px;
        border: 1px solid transparent;
        border-radius: 8px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin-top: 10px;
        cursor: pointer;
    }
    .containerReg input:not(input[type="radio"]) {
        background-color: var(--inputcolor1);
        /* background-color: red; */

        border: none;
        margin: 8px 0;
        padding: 10px 15px;
        font-size: 13px;
        border-radius: 8px;
        width: 100%;
        outline: none;

        
    }
    .containerReg input[type="radio"]{
        margin-top: 7px;
        height: 11px;
    }
    .form-containerReg {
        /* background-color: red; */
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.6s ease-in-out;
    }

    .sign-inReg {
        /* background-color: red; */

    left: 0;
    width: 50%;
    z-index: 2;
}
.social-iconsReg {
    margin: 20px 0;
}

.social-iconsReg a {
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}







    /* seconde-side */
    .containerReg {
        background-color: var(--color2);
        border-radius: 20px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        position: relative;
        overflow: hidden;
        width: 768px;
        max-width: 100%;
        min-height: 480px;
    }
    
    .containerReg p {
        /* background-color: red; */
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.3px;
        margin: 20px 0;
    }
    
    .hiddenReg {
        background-color: transparent;
        border:2px solid #ffffff;
        color: red;

        /* background-color: #512da8; */
        color: #fff;
        font-size: 12px;
        padding: 10px 45px;
        /* border: 1px solid transparent; */
        border-radius: 8px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin-top: 10px;
        cursor: pointer;
    }
/*  */







    .containerReg.active .sign-inReg {
        transform: translateX(100%);   

    }

    .sign-upReg {
        left: 0;
        width: 50%;
        opacity: 0;
        z-index: 1;
    }

    .containerReg.active .sign-upReg {
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
        animation: move 0.6s;
    }

    @keyframes move {

        0%,
        49.99% {
            opacity: 0;
            z-index: 1;
        }

        50%,
        100% {
            opacity: 1;
            z-index: 5;
        }
    }


    .toggle-containerReg {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: all 0.6s ease-in-out;
        border-radius: 0 0 0 50px;
        z-index: 1000;
    }

    .containerReg.active .toggle-containerReg {
        transform: translateX(-100%);
        border-radius: 0px 0 50px 0;
    }

    .toggleReg {
        background-color: var(--color1);
        height: 100%;
        background: linear-gradient(to right, #5c6bc0, var(--color1));
        color: #fff;
        position: relative;
        left: -100%;
        height: 100%;
        width: 200%;
        transform: translateX(0);
        transition: all 0.6s ease-in-out;
    }

    .containerReg.active .toggleReg {
        transform: translateX(50%);
    }

    .toggle-panelReg {
        position: absolute;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 30px;
        text-align: center;
        top: 0;
        transform: translateX(0);
        transition: all 0.6s ease-in-out;
    }

    .toggle-leftReg {
        transform: translateX(-200%);
    }

    .containerReg.active .toggle-leftReg {
        transform: translateX(0);
    }

    .toggle-rightReg {
        right: 0;
        transform: translateX(0);
    }

    .containerReg.active .toggle-rightReg {
        transform: translateX(200%);
    }