.AddComment{
    background-color: blue;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    z-index: 1000;
    position: absolute;

    /* display: flex;
flex-direction: column; 
justify-content: center; */
top: 25%;
left: 25%;
}
.AddComment * {
    margin-left: auto;
    margin-right: auto;
}